<div id="terminalBody">
    
    <form id="preview-form">
    <textarea class="codemirror-textarea" name="editor-value" id="editor-value" rows="4" cols="10">&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;</textarea>
    <br>
    <!--<input type="submit" name="submit" id="submit" value="submit">-->
</form>
</div>
        </div>

            <!--<div id="preview" class="header col s8 light z-depth-3 liveTerminal">-->

<!--</div>-->


<script src="./script.js"></script>